:root {
  
}

* {
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
}

aside {
  overflow: hidden;
}

#resp-menu-checkbox, #resp-menu-icon {
  display: none;
}

@media (max-width: 575.98px) {
  aside {
    width: 0;
    height: 100vh;
    overflow: hidden;
  }
  
  aside > ul {
    padding-left: 0;
  }
  
  aside ~ a {
    width: 100vw;
    text-align: center;
    padding: 0 10px;
  }
  
  #resp-menu-checkbox {
    position: absolute;
    left: -9999px;
    transition: width ease-out .25s;
  }
  
  #resp-menu-checkbox:checked ~ aside {
    width: 100vw;
    transition: width ease-in .25s;
  }
  
  #resp-menu-icon {
    display: block;
    margin: 10px;
    font-soze: 18px;
  }
}
