:root {
  
}

* {
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
}

aside {
  overflow: hidden;
}

.close {
  display: none;
}

#resp-menu-checkbox, #resp-menu-icon {
  display: none;
}

@media (max-width: 575.98px) {
  * {
    font-size: 20px;
  }
  
  aside {
    width: 100vw;
    height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
  }
  
  aside > ul {
    padding-left: 0;
    margin: 0;
  }
  
  aside > ul > li {
    text-align: center;
    padding: 10px 0;
  }
  
  aside > ul > li > a {
    width: 100vw;
    color: #000;
  }
  
  #resp-menu-checkbox {
    position: absolute;
    left: -9999px;
    transition: height ease-in-out .25s;
  }
  
  #resp-menu-checkbox:checked ~ aside {
    height: 100vh;
    transition: height ease-in-out .25s;
  }
  
  #resp-menu-icon {
    display: block;
    margin: 10px;
    font-soze: 18px;
  }
}
