:root {
  
}

* {
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
}

aside {
  overflow: hidden;
}

#resp-menu-checkbox {
  position: absolute;
  left: -9999px;
}

@media (max-width: 575.98px) {
  aside {
    width: 0;
  }
}
