<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      {% include default.css %}
    </style>
  </head>
  <body>
    <input type="checkbox" id="resp-menu-checkbox">
    <label id="resp-menu-icon" for="resp-menu-checkbox">☰</label>
    <aside>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog</a></li>
    </aside>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>This is a footer</a>
    </footer>
  </body>
</html>
